<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Konsole</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">Home</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orderdata">Bestelldaten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/configuration">Konfiguration</a>
            </li>
        </ul>
    </nav>
    <br>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Organisation
            </div>
            <div class="card-body">
                <div class="form-check">
                    <form action="configuration" method="POST">
                        <div class="form-check">
                            <label for="new_station">Neue Station:</label>
                            <input type="input" id="new_station" name="new_station" required>
                            <br>
                            <button class="btn btn-primary" onclick="this.form.submit()"> Neue Station anlegen</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                Stationen:
                <div class="list-group overflow-auto" style="max-height: 150px">
                    <% if(stations.length){ for(var i=0; i< stations.length; i++) {%>
                        <div class="list-group-item">
                            <td>
                                <%= stations[i].name%>
                            </td>
                        </div>
                        <% } }else{ %>
                            <div class="list-group-item">
                                Keine Stationen definiert
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-header">
                Optionen
            </div>
            <div class="card-body">
                <div class="form-check">
                    <form action="configuration" method="POST">
                        <div class="form-check">
                            <label for="new_option">Neue Zutat:</label>
                            <input type="input" id="new_option" name="new_option" required>
                            <br>
                            <button class="btn btn-primary" onclick="this.form.submit()"> Neue Zutat anlegen</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                Optionen:
                <div class="list-group overflow-auto" style="max-height: 150px">
                    <% if(options.length){ for(var i=0; i< options.length; i++) {%>
                        <div class="list-group-item">
                            <td>
                                <%= options[i].name%>
                            </td>
                        </div>
                        <% } }else{ %>
                            <div class="list-group-item">
                                Keine Zutaten definiert
                            </div>
                            <% } %>
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-header">
                Produkte
            </div>
            <div class="card-body">
                <div class="form-check">
                    <form action="configuration" method="POST">
                        <label class="form-check-label" for="product_station">Station</label>
                        <select class="custom-select" id="product_station">
                            <% if(stations.length){ for(var i=0; i< stations.length; i++) {%>
                                <option value="<%= stations[i].id%>">
                                    <%= stations[i].name%>
                                </option>
                                <% } }else{ %>
                                    <option value="-1" selected>Leer</option>
                                    <% } %>

                        </select>
                        <label for="defaultCheck1">
                            Produktname
                        </label>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">Grill</option>
                            <option value="2">Pizza</option>
                        </select>
                        <br>

                        Optionen
                        <div class="list-group">
                            <% if(options.length){ for(var i=0; i< options.length; i++) {%>
                                <div class="list-group-item">
                                    <input type="checkbox" value="<%= options[i].id%>" id="product_option_id">
                                    <%= options[i].name%>
                                        <input type="checkbox" value="" checked="true" id="item1_option1">
                                        Standard?
                                </div>
                                <% } }else{ %>
                                    <div class="list-group-item">
                                        Keine Zutaten vorhanden
                                    </div>
                                    <% } %>
                        </div>
                        <br>
                        <button class="btn btn-primary" onclick="this.form.submit()"> Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>