<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Konsole</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">

    <script>
        function setCheckbox(id, state) {
            document.getElementById(id).disabled = state;
            if (state) {
                document.getElementById(id).checked = false;
            }
        }
    </script>

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">Home</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/statistics">Statistik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orderdata">Bestelldaten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/configuration">Stammdaten</a>
            </li>
        </ul>
    </nav>
    <br>


    <div class="row px-2">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-tables-tab" data-toggle="pill" href="#v-pills-tables" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">Tische</a>
                <a class="nav-link" id="v-pills-organization-tab" data-toggle="pill" href="#v-pills-organization"
                    role="tab" aria-controls="v-pills-organization" aria-selected="false">Organisation</a>
                <a class="nav-link" id="v-pills-products-tab" data-toggle="pill" href="#v-pills-products" role="tab"
                    aria-controls="v-pills-products" aria-selected="false">Produkte</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-tables" role="tabpanel"
                    aria-labelledby="v-pills-tables-tab">
                    <div class="card">
                        <div class="card-header">
                            Tischgruppen
                        </div>
                        <div class="card-body">
                            <form action="#" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Neue Tischgruppe:</span>
                                    </div>
                                    <input type="text" class="form-control" id="new_table_group"
                                        placeholder="Name der Gruppe" name="new_table_group" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Anlegen</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <p>Tischgruppen:</p>
                            <div class="list-group overflow-auto" style="max-height: 150px">
                                <% if(table_groups.length){ for(var i=0; i< table_groups.length; i++) {%>
                                <div class="list-group-item">
                                    <td>
                                        <%= table_groups[i].groupname%>
                                        <div class="float-right">
                                            <form action="configuration" method="POST">
                                                <button class="btn btn-danger btn-sm" id="remove_table_group"
                                                    name="remove_table_group" value="<%= table_groups[i].id%>"
                                                    onclick="this.form.submit()">
                                                    X
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </div>
                                <% } }else{ %>
                                <div class="list-group-item">
                                    Keine Tisch Gruppen definiert
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            Tische
                        </div>
                        <div class="card-body">
                            <form action="configuration" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Neuer Tisch:</span>
                                    </div>
                                    <select class="custom-select" id="table_group_id" name="table_group_id" required>
                                        <% if(table_groups.length){ for(var i=0; i< table_groups.length; i++) {%>
                                        <option value="<%= table_groups[i].id%>">
                                            <%= table_groups[i].groupname%>
                                        </option>
                                        <% } }else{ %>
                                        <option value="-1" selected>Leer</option>
                                        <% } %>
                                    </select>
                                    <input type="text" class="form-control" id="new_table" name="new_table"
                                        placeholder="Nummer des Tisches" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Anlegen</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            Tische:
                            <div class="list-group overflow-auto" style="max-height: 150px">
                                <% if(tables.length){ for(var i=0; i< tables.length; i++) {%>
                                <div class="list-group-item">
                                    <td>
                                        <%= tables[i].nummer%>
                                        <div class="float-right">
                                            <form action="configuration" method="POST">
                                                <button class="btn btn-danger btn-sm" id="remove_table"
                                                    name="remove_table" value="<%= tables[i].id%>"
                                                    onclick="this.form.submit()">
                                                    X
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </div>
                                <% } }else{ %>
                                <div class="list-group-item">
                                    Keine Tische definiert
                                </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-organization" role="tabpanel"
                    aria-labelledby="v-pills-organization-tab">
                    <div class="card">
                        <div class="card-header">
                            Organisation
                        </div>
                        <div class="card-body">
                            <form action="#" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Neue Station:</span>
                                    </div>
                                    <input type="text" class="form-control" name="new_station"
                                        placeholder="Name der neuen Station" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Anlegen</button>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <p>Stationen:</p>
                            <div class="list-group overflow-auto" style="max-height: 150px" id="stations">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            Alarm Typen
                        </div>
                        <div class="card-body">
                            <form action="#" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Neuer Alarmtyp:</span>
                                    </div>
                                    <input type="text" class="form-control" name="newAlertType"
                                        placeholder="Name des Alarm Typen" required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Anlegen</button>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <p>Alarm Typen:</p>
                            <div class="list-group overflow-auto" id="alerttypes" style="max-height: 200px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab">
                    <div class="card">
                        <div class="card-header">
                            Optionen
                        </div>
                        <div class="card-body">
                            <form action="configuration" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Neue Zutat:</span>
                                    </div>
                                    <input type="text" class="form-control" id="new_option" name="new_option"
                                        placeholder="Name der Zutat" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Anlegen</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            Optionen:
                            <div class="list-group overflow-auto" style="max-height: 150px" id="options">
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-header">
                            Produkte
                        </div>
                        <div class="card-body">

                            <form action="#" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Neues Produkt:</span>
                                    </div>
                                    <select class="custom-select" id="product_station" name="product_station"
                                        required></select>
                                    <input type="text" class="form-control" id="product_name" name="product_name"
                                        placeholder="Name des Produkts" required>
                                    <input type="number" class="form-control" id="product_cost" name="product_cost"
                                        placeholder="Preis" min="0" required>
                                    <input type="number" class="form-control" id="product_priortity" name="product_priority"
                                        placeholder="Priorität" min="0" required>
                                </div>
                                <br>
                                <span>Wird geliefert? </span>
                                <input type="checkbox" id="product_deliverable" name="product_deliverable" required>
                                <br>
                                <br>
                                Optionen
                                <div class="list-group overflow-auto" style="max-height: 150px"
                                    id="new_product_options">
                                </div>
                                <br>
                                <button class="btn btn-primary" onclick="this.form.submit()"> Speichern</button>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            Produktdetails
                        </div>
                        <div class="card-body">
                            <p>Suche nach:</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Produkt ID:</span>
                                </div>
                                <input type="number" class="form-control" id="productdetails_id" min="0"
                                    placeholder="ID" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"
                                        onclick="loadProduct()">Anfragen</button>
                                </div>
                            </div>
                            <br>
                            <form action="#" method="POST">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Station:</span>
                                    </div>
                                    <select class="custom-select" id="productdetails_station" required></select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"
                                            onclick="loadProductsByStation()">Anfragen</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            Produkte:
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Stand</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Preis</th>
                                        <th scope="col">Lieferbar?</th>
                                        <th scope="col">Entfernen</th>
                                    </tr>
                                </thead>
                                <tbody id="producttable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        loadConfigurationData();
    });

    function loadProduct() {
        var value = document.getElementById("productdetails_id").value;
        document.getElementById("producttable").innerHTML = "";
        $.ajax({
            url: "/data/product/" + value,
            success: (result) => {
                console.log(result)
                if (result.data.length > 0) {
                    result.data.forEach((element) => {
                        var content =
                            '<tr><th scope="row">' + element.id +
                            '</th><td>' + element.id_stand +
                            '</td> <td>' + element.name +
                            '</td> <td>' + element.preis + '</td><td>';
                        if (element.lieferbar == 1) {
                            content += '<img src="/images/check.png" style="width:20px">'
                        } else {
                            content += '<img src="/images/canceled.png" style="width:20px">'
                        }
                        content +=
                            '</td><td><form action="configuration" method="POST"><button class="btn btn-danger btn-sm" id="remove_product"' +
                            'name="remove_product" value="' + element.id +
                            '" onclick="this.form.submit()">X</button></form></td></tr>';
                        document.getElementById("producttable").innerHTML += content;
                    });
                }
            }
        });
    }

    function loadProductsByStation() {
        var value = document.getElementById("productdetails_station").value;
        document.getElementById("producttable").innerHTML = "";
        $.ajax({
            url: "/data/product/station/" + value,
            success: (result) => {
                console.log(result)
                if (result.data.length > 0) {
                    result.data.forEach((element) => {
                        var content =
                            '<tr><th scope="row">' + element.id +
                            '</th><td>' + element.id_stand +
                            '</td> <td>' + element.name +
                            '</td> <td>' + element.preis + '</td><td>';
                        if (element.lieferbar == 1) {
                            content += '<img src="/images/check.png" style="width:20px">'
                        } else {
                            content += '<img src="/images/canceled.png" style="width:20px">'
                        }
                        content +=
                            '</td><td><form action="configuration" method="POST"><button class="btn btn-danger btn-sm" id="remove_product"' +
                            'name="remove_product" value="' + element.id +
                            '" onclick="this.form.submit()">X</button></form></td></tr>';
                        document.getElementById("producttable").innerHTML += content;
                    });
                }
            }
        });
    }

    function loadConfigurationData() {
        $.ajax({
            url: "/data/alerttypes",
            success: (result) => {
                if (result.data.length > 0) {
                    result.data.forEach((element) => {
                        document.getElementById("alerttypes").innerHTML +=
                            '<div class="list-group-item">' + element.name +
                            '<form action="#" method="POST" style="display: inline;"><button class="btn btn-danger btn-sm float-right" name="deleteAlertType" value="' +
                            element.id + '">X</button></form><div>'
                    });
                } else {
                    document.getElementById("alerttypes").innerHTML +=
                        '<div class="list-group-item"> Keine Alarmtypen gefunden <div>'
                }
            }
        });

        $.ajax({
            url: "/data/options",
            success: (result) => {
                if (result.data.length > 0) {
                    result.data.forEach((element) => {
                        document.getElementById("options").innerHTML +=
                            '<div class="list-group-item">' + element.name +
                            '<form action="#" method="POST" style="display: inline;"><button class="btn btn-danger btn-sm float-right" name="remove_option" value="' +
                            element.id + '">X</button></form><div>'

                        document.getElementById("new_product_options").innerHTML +=
                            '<div class="list-group-item"><input type="checkbox" value="' + element.id +
                            '" id="product_option_' + element.id + '" name="product_option"' +
                            'onclick="setCheckbox(\'product_option_standard_' + element.id +
                            '\', !this.checked)"> ' +
                            element.name +
                            ' <input type="checkbox" value="' + element.id + '"' +
                            ' id="product_option_standard_' + element.id + '"' +
                            'name="product_option_standard" disabled>' + "Standard?"
                        '<div>'
                    });
                } else {
                    document.getElementById("options").innerHTML +=
                        '<div class="list-group-item">Keine Optionen gefunden<div>'
                }
            }
        });

        $.ajax({
            url: "/data/getAllStations",
            success: (result) => {
                if (result.stations.length > 0) {
                    result.stations.forEach((element) => {
                        document.getElementById("stations").innerHTML +=
                            '<div class="list-group-item">' + element.id + " " + element.name +
                            '<div>'
                        document.getElementById("product_station").innerHTML += '<option value="' +
                            element.id + '">' + element.name + '</option>'
                        document.getElementById("productdetails_station").innerHTML +=
                            '<option value="' +
                            element.id + '">' + element.name + '</option>'
                    });
                } else {
                    document.getElementById("stations").innerHTML +=
                        '<div class="list-group-item"> Keine Stationen gefunden <div>'
                    document.getElementById("product_station").innerHTML += '<option value="">Leer</option>'
                    document.getElementById("productdetails_station").innerHTML +=
                        '<option value="">Leer</option>'
                }
            }
        });

    }
</script>

</html>