<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Konsole</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">Home</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orderdata">Bestelldaten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/configuration">Konfiguration</a>
            </li>
        </ul>
    </nav>
    <br>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Auslastung
            </div>
            <div class="card-body">
                Aktive Sitzungen: <%= activeSessions%>
                    <br>
                    Belegung: <%= activeSessions%>/<%= countTables%>
                            <br>
                            Aktive Bestellungen: <%= activeOrders%>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Sitzung suchen
            </div>
            <div class="card-body">

                <h4>Tisch Gruppe</h4>
                <select class="form-control" id="sessionsTableGroup" onchange="loadTables(this)">
                    <% if(table_groups.length){%>
                        <option value="" selected></option>
                        <% for(var i=0; i< table_groups.length; i++) {%>
                            <option value="<%= table_groups[i].id%>">
                                <%= table_groups[i].groupname%>
                            </option>
                            <% } }else{ %>
                                <option value="-1" selected>Leer</option>
                                <% } %>
                </select>

                <h4>Tisch</h4>
                <select class="form-control" id="sessionsTable" onchange="loadSessions(this)">
                </select>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sitzungs ID</th>
                            <th scope="col">Start</th>
                            <th scope="col">Ende</th>
                            <th scope="col">Kellner</th>
                        </tr>
                    </thead>
                    <tbody id="sessions">
                    </tbody>
                </table>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-header">
                Bestellung suchen
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="sessionid">Sitzungs ID:</label>
                    <input type="number" class="form-control" id="sessionid">
                </div>
                <button  class="btn btn-primary form-control" onclick="loadOrders()">Suche</button>
            </div>

            <div class="card-body">
                <h4>Bestellungen der Sitzung:</h4>
                <div class="card" style="max-height: 200px">
                    <div class="card-body overflow-auto pt-0 px-1">
                        <div class="list-group pt-0" id="ordersFromSession">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function loadSessions(dropdown) {
                var table_id = dropdown.value;
                if (!table_id) {
                    $("#sessions").html('');
                    return;
                }
                console.log("change " + table_id)
                $("#sessions").html('');
                $.ajax({
                    url: "orderdata/getSessionsForTable",
                    type: "POST",
                    data: {
                        name: 'sessions',
                        table_id: table_id,
                    },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                        if (result.sessions.length != 0) {
                            $.each(result.sessions, function (key, value) {
                                $("#sessions").append('<tr><th scope="row">' + value.id + '</th><td>' + value.start + '</td><td>' + value.ende + '</td><td>' + value.name + '</td></tr>');
                            });
                        } else {
                            $("#sessions").append("Keine Sitzungen gefunden")
                        }
                    }
                });
            };

            function loadTables(dropdown) {
                var group_id = dropdown.value;
                if (!group_id) {
                    $("#sessionsTable").html('');
                    $("#sessions").html('');
                    return;
                }
                console.log("change tablegoup " + group_id)
                $("#sessionsTable").html('');
                $("#sessions").html('');
                $.ajax({
                    url: "orderdata/getTablesFromTableGroup",
                    type: "POST",
                    data: {
                        name: 'tables',
                        group_id: group_id,
                    },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                        if (result.tables.length != 0) {
                            $("#sessionsTable").append('<option value="" selected>' + "" + '</option>');
                            $.each(result.tables, function (key, value) {
                                $("#sessionsTable").append('<option value="' + value.id + '">' + value.nummer + '</option>');
                            });
                        } else {
                            $("#sessionsTable").append('<option value="-1">' + Leer + '</option>');
                        }
                    }
                });
            };

            function loadOrders() {
                console.log("loadOrders")
                var session_id = document.getElementById("sessionid").value;
                console.log(session_id)
                if (!session_id) {
                    $("#ordersFromSession").html('');
                    return;
                }
                console.log("load orders from session " + session_id)
                $("#ordersFromSession").html('');
                $.ajax({
                    url: "orderdata/getOrdersFromSession",
                    type: "POST",
                    data: {
                        name: 'orders',
                        session_id: session_id,
                    },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                        if (result.orders.length != 0) {
                            $.each(result.orders, function (key, value) {
                                var s="";
                                s+='<div class="list-group-item py-0">';
                                if(value.stoniert){
                                    s+='<img src="/images/canceled.png" style="width:15px">';
                                }else if(value.erledigt){
                                    s+='<img src="/images/check.png" style="width:15px">';
                                }else if(value.in_zubereitung){
                                    s+='<img src="/images/loading.gif" style="width:15px">';
                                }else{
                                    s+='<img src="/images/order.png" style="width:15px">';
                                }
                                s+=(value.anzahl + "x "+ value.name);
                                s+='</div>';
                                $("#ordersFromSession").append(s);
                            });
                        } else {
                            $("#ordersFromSession").append('<div class="list-group-item py-0">Leer</div>');
                        }
                    }
                });
            };


        </script>
</body>

</html>