<!DOCTYPE html>
<html lang="en">

<head>
  <title>Übersicht</title>
  <%- include('../header_common') %>

</head>

<body>

  <!-- Nav bar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Übersicht</a>
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-brand">
      <%= personal_name%>
    </span>
    <form action="#" method="POST">
      <button class="btn btn-outline-danger btn-sm" type="submit" name="logout" value="true">Logout</button>
    </form>

  </nav>


  <div id="accordion">
    <div class="card">
      <a class="card-link card-header collapsed" data-toggle="collapse" href="#collapseOne">
        <img src="/images/caret-down-fill.svg">
        Abgeschlossene Tische
        <div class="float-right">
          <%= past_sessions.length%>
        </div>
      </a>

      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <!--act_sessions: past_sessions:  { s_id: 7, t_id: 1, t_nr: 'A1', t_name: 'Wiese' },-->
            <% if(past_sessions.length){%>
            <% for(var i=0; i< past_sessions.length; i++) {%>
            <button href="#" class="list-group-item list-group-item-action" name="tisch_id"
              value="<%= past_sessions[i].s_id%>">
              <%= past_sessions[i].t_name%>
              <%= past_sessions[i].t_nr%>
              <div class="float-right">
                <%= past_sessions[i].end%>
              </div>
            </button>
            <% } %>
            <% }else{ %>
            Keine vergangenen Sitzungen
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <a class="card-link card-header" data-toggle="collapse" href="#collapseTwo">
        <img src="/images/caret-down-fill.svg">
        Aktive Tische
        <div class="float-right">
          <%= act_sessions.length%>
        </div>
      </a>
      <div id="collapseTwo" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <!--act_sessions: past_sessions:  { s_id: 7, t_id: 1, t_nr: 'A1', t_name: 'Wiese' },-->
            <% if(act_sessions.length){%>
            <% for(var i=0; i< act_sessions.length; i++) {%>
            <div class="list-group-item pl-0">
              <a href="/table/<%= act_sessions[i].s_id%>" class="py-3 pl-4" style="padding-right: 35vw; color: black;">
                <%= act_sessions[i].t_name%>
                <%= act_sessions[i].t_nr%>
              </a>
              <div class="float-right">
                <span><%= act_sessions[i].start%></span>
                <a class="pl-2" href="/table/move/<%= act_sessions[i].s_id%>">
                  <img src="/images/transfer.png" style="width: 20px;">
                </a>
              </div>
            </div>

            <% } %>
            <% }else{ %>
            <div class="list-group-item">
              Keine aktiven Sitzungen
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Abgeschlossene Tische -->


  <!-- Aktive Tische -->

  <!-- Neuer Tisch -->
  <div class="fixed-bottom text-center">
    <a class="btn btn-primary btn-lg btn-block" href="/table/new" role="button">Neue Sitzung</a>
  </div>


</body>

</html>