<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tisch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">-->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <!--<script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>-->
    <script src="/javascripts/bs5/bootstrap.bundle.min.js"></script>
    <link href="/javascripts/bs5/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark py-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="/personal/overview">Übersicht</a>
            <div class="navbar-brand float-right">
                <%= t_name%>
            </div>
            <a class="btn btn-danger float-right btn-md py-0" href="/table/bill">Kassieren</a>
        </div>
    </nav>

    <!-- Bestellungen -->
    <div class="card" style="height: 170px">
        <div class="card-header py-0">Bestellungen</div>

        <div class="card-body overflow-auto pt-0 px-1">
            <div class="list-group pt-0">

                <% if(orders.length){%>
                <% for(var i=0; i< orders.length; i++) {%>
                <div class="list-group-item py-0">
                    <!-- Status icons -->
                    <% if(orders[i].stoniert){%>
                    <img src="/images/canceled.png" style="width:15px">
                    <% } else if(orders[i].erledigt){%>
                    <img src="/images/check.png" style="width:15px">
                    <% } else if(orders[i].in_zubereitung){ %>
                    <img src="/images/loading.gif" style="width:15px">
                    <% } else { %>
                    <img src="/images/order.png" style="width:15px">
                    <% } %>
                    <%= orders[i].anzahl%> x
                    <%= orders[i].name%>
                    <% if(!orders[i].erledigt && !orders[i].in_zubereitung &&
                                                            !orders[i].stoniert ){%>
                    <form action="#" method="POST" style="display:inline;">
                        <button class="btn btn-danger btn-sm float-end py-0 px-4" type="submit" name="cancelOrder"
                            value="<%= orders[i].id%>">X</button>
                    </form>
                    <% } %>
                    <% if(!orders[i].erledigt && !orders[i].lieferbar &&
                                                                    !orders[i].stoniert){ %>
                    <form action="#" method="POST" style="display:inline;">
                        <button class="btn btn-success btn-sm py-0 px-4 float-end" type="submit" name="finishOrder"
                            value="<%= orders[i].id%>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                class="bi bi-check2" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </button>
                    </form>
                    <%}%>
                        </div>
                        <% } %>
                    <% }else{ %>
                    <div class="list-group-item py-0">
                        Keine Bestellungen
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- Neu Bestellen -->
        <div class="card">
            <div class="card-header py-0">
                Bestellen
            </div>
            <div class="card-body px-0 py-0">
                <ul class="nav nav-tabs pl-1" id="nav-tab" role="tablist">

                    <% if(stations.length){%>
                    <% for(var i=0; i< stations.length; i++) {%>
                    <li class="nav-item" role="presentation">
                        <% if(i==0){ %>
                        <button class="nav-link active px-2" id="tab-<%= stations[i].id%>" type="button" role="tab"
                            aria-controls="nav-<%= stations[i].id%>" aria-selected="true" role="presentation"
                            onclick="loadProducts('<%= stations[i].id%>')" data-bs-toggle="tab"
                            data-bs-target="#nav-<%= stations[i].id%>">
                            <%= stations[i].name%>
                        </button>
                        <% } else {%>
                        <button class="nav-link px-2" id="tab-<%= stations[i].id%>" type="button" role="tab" aria-controls="nav-<%= stations[i].id%>"
                            aria-selected="false" role="presentation" onclick="loadProducts('<%= stations[i].id%>')"
                            data-bs-toggle="tab" data-bs-target="#nav-<%= stations[i].id%>">
                            <%= stations[i].name%>
                        </button>
                        <%}%>
                    </li>

                    <% } %>
                        <% } %>

                </ul>
                <div class="tab-content" id="station_products">
                    <% if(stations.length){ %>
                    <% for(var i=0; i< stations.length; i++) { %>
                    <% if(i==0){ %>
                    <div class="tab-pane active" id="nav-<%= stations[i].id%>" role="tabpanel"
                        aria-labelledby="tab-<%= stations[i].id%>">Test <%= stations[i].id%>
                    </div>
                    <% } else { %>
                    <div class="tab-pane" id="nav-<%= stations[i].id%>" role="tabpanel"
                        aria-labelledby="tab-<%= stations[i].id%>">Test <%= stations[i].id%>
                    </div>
                    <% } %>
                    <% } %>
                    <% } %>

                </div>
            </div>
        </div>

        <% if (stations.length) {%>
        <script>
            // Load first station entries
            $(document).ready(function () {
                // Open last opened tab
                if (sessionStorage.getItem("lastOpenTab") !== null  && sessionStorage.getItem("lastOpenPage") !== null && window.location.href === sessionStorage.getItem("lastOpenPage")) {
                    const lastOpenTab = sessionStorage.getItem("lastOpenTab");
                    const lastOpenPage = sessionStorage.getItem("lastOpenPage");
                    console.log(lastOpenPage)
                    console.log(lastOpenTab)
                    $("#tab-"+lastOpenTab).trigger("click");
                } else{
                    loadProducts('<%= stations[0].id%>');
                }
                
            });
        </script>
        <%}%>

    <script>
        // Load products for a station
        function loadProducts(station_id) {
            if (!station_id) {
                return;
            }
            console.log("loading products for station" + station_id)
            $("#nav-" + station_id).html('');
            $("#nav-" + station_id).load("/table/productlist/" + station_id);

            // Save tab id
            sessionStorage.setItem("lastOpenTab", station_id);
            sessionStorage.setItem("lastOpenPage",window.location.href)

        };

        function increment(num) {
            document.getElementById(num).value = parseInt(document.getElementById(num).value) + 1;
        };
        function decrement(num) {
            if (document.getElementById(num).value > 1) {
                document.getElementById(num).value = parseInt(document.getElementById(num).value) - 1;
            }
        };


    </script>


</body>

</html>