<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tisch</title>
    <%- include('../header_common') %>
</head>

<body>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark">
        <a class="navbar-brand" href="/personal/overview">Übersicht</a>
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-brand ">Neue Sitzung</span>
    </nav>
    <br>
    <div class="container">
        <form action="#" method="POST" id="new">
            <h4>Gruppe</h4>
            <% if(table_groups.length){%>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <% for(var i=0; i< table_groups.length; i++) {%>
                <% if (i==0) { %>
                <label class="btn btn-primary btn-lg" >
                    <input type="radio" name="table_group" id="option<%= table_groups[i].id%>"
                        value="<%= table_groups[i].id%>" autocomplete="off" onclick='loadTables("<%= table_groups[i].id%>")' checked>
                    <%= table_groups[i].groupname%>
                </label>
                <% } else { %>
                <label class="btn btn-primary btn-lg">
                    <input type="radio" name="table_group" id="option<%= table_groups[i].id%>"
                        value="<%= table_groups[i].id%>" autocomplete="off" onclick='loadTables("<%= table_groups[i].id%>")'>
                    <%= table_groups[i].groupname%>
                </label>
                <% } %>

                <% } %>
            </div>
            <% }else{ %>
            <div class="list-group-item">
                Keine Tisch Gruppen definiert
            </div>
            <% } %>
            <br>
            <h4 class="pt-3">Tisch</h4>
            <select class="custom-select" id="table" name="table"></select>
        </form>
    </div>

    <!-- Neuer Tisch -->
    <div class="fixed-bottom text-center">
        <button class="btn btn-primary btn-lg btn-block" type="submit" form="new" name="new_session"
            value="true">Start</button>
    </div>

    <script>

            $(document).ready(function () {
                loadTables("<%= table_groups[0].id%>");
            }); 

        function loadTables(group_id) {
            console.log(group_id);
            if (!group_id) {
                $("#table").html('');
                return;
            }
            console.log("change tablegoup " + group_id)
            $("#table").html('');
            $.ajax({
                url: "/data/getFreeTablesFromGroupForPersonal",
                type: "POST",
                data: {
                    name: 'tables',
                    group_id: group_id,
                },
                dataType: 'json',
                success: function (result) {
                    console.log(result)
                    if (result.tables.length != 0) {
                        $("#table").append('<option value="" selected>' + "Choose ..." + '</option>');
                        $.each(result.tables, function (key, value) {
                            $("#table").append('<option value="' + value.id + '">' + value.nummer +
                                '</option>');
                        });
                    } else {
                        $("#table").append('<option value="-1">' + Leer + '</option>');
                    }
                }
            });
        };
    </script>

</body>

</html>