<% if(products.length){%>
    <% for(var i=0; i< products.length; i++) {%>
        <div class="list-group">
            <form action="#" method="POST">
                <div class="list-group-item card px-0 py-1  d-flex flex-row">
                    <!-- Produkt -->
                    <div class="card-header py-1 w-25">
                        <%=products[i].name%>
                    </div>
                    <!-- Optionen -->
                    <div class="card-body py-0 px-1">
                        <div class="list-group">
                            <% if(products[i].zutaten){%>
                                <% for(var z=0; z< products[i].zutaten.length; z++) {%>
                                    <div class="list-group-item py-0">
                                        <% if(products[i].zutaten[z].optional){%>
                                            <input class="form-check-input" type="checkbox"
                                                value="<%=products[i].zutaten[z].id%>" checked name="option"
                                                id="option<%=products[i].zutaten[z].id%>">
                                            <% } else { %>
                                                <input class="form-check-input" type="checkbox"
                                                    value="<%=products[i].zutaten[z].id%>" name="option"
                                                    id="option<%=products[i].zutaten[z].id%>">
                                                <% } %>
                                                    <label class="form-check-label"
                                                        for="option<%=products[i].zutaten[z].id%>">
                                                        <%=products[i].zutaten[z].name%>
                                                    </label>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
                        <input type="text" class="form-control list-group-item" placeholder="Notiz" name="notiz">

                    </div>
                    <!-- Bestellsteuerung -->
                    <div class="card-body py-0 px-1 w-25">
                        <div class="btn btn-secondary btn-block" onclick="increment('p_anz<%=products[i].id%>')">+</div>
                        <input type="number" name="product_anzahl" id="p_anz<%=products[i].id%>" class="form-control text-center" value=0>
                        <div class="btn btn-secondary btn-block" onclick="decrement('p_anz<%=products[i].id%>')">-</div>
                        <button class="btn btn-secondary btn-block" type="submit" name="productid" value="<%=products[i].id%>">
                            <img src="/images/sent.png" style="height: 15px">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <% } %>
            <% } %>