<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tisch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark py-1">
        <a class="navbar-brand" href="/personal/personal_overview">Übersicht</a>
        <div class="navbar-brand float-right">
            <%= t_name%>
        </div>
        <a class="btn btn-danger float-right btn-md py-0" href="tisch_kassieren">Kassieren</a>
    </nav>

    <!-- Bestellungen -->
    <div class="card" style="height: 170px">
        <div class="card-header py-0">Bestellungen</div>

        <div class="card-body overflow-auto pt-0 px-1">
            <div class="list-group pt-0">

                <% if(orders.length){%>
                    <% for(var i=0; i< orders.length; i++) {%>
                        <div class="list-group-item py-0">
                            <!-- Status icons -->
                            <% if(orders[i].stoniert){%>
                                <img src="/images/canceled.png" style="width:15px">
                                <% } else if(orders[i].erledigt){%>
                                    <img src="/images/check.png" style="width:15px">
                                    <% } else if(orders[i].in_zubereitung){ %>
                                        <img src="/images/loading.gif" style="width:15px">
                                        <% } else { %>
                                            <img src="/images/order.png" style="width:15px">
                                            <% } %>
                                                <%= orders[i].anzahl%> x
                                                    <%= orders[i].name%>
                                                        <% if(!orders[i].erledigt && !orders[i].in_zubereitung &&
                                                            !orders[i].stoniert){%>
                                                            <form action="#" method="POST" style="display:inline;">
                                                                <button
                                                                    class="btn btn-danger btn-sm float-right py-0 px-4"
                                                                    type="submit" name="cancelOrder"
                                                                    value="<%= orders[i].id%>">x</button>
                                                            </form>
                                                            <% } %>
                        </div>
                        <% } %>
                            <% }else{ %>
                                <div class="list-group-item py-0">
                                    Keine Bestellungen
                                </div>
                                <% } %>
            </div>
        </div>
    </div>

    <!-- Neu Bestellen -->
    <div class="card">
        <div class="card-header py-0">
            Bestellen
        </div>
        <div class="card-body px-0 pt-0">
            <div class="nav nav-tabs pl-1" id="nav-tab" role="tablist">

                <% if(stations.length){%>
                    <% for(var i=0; i< stations.length; i++) {%>
                        <% if(i==0){ %>
                            <a class="nav-item nav-link active px-2" id="nav-home-tab" data-toggle="tab"
                                href="#nav-<%= stations[i].id%>" role="tab" aria-controls="nav-home"
                                aria-selected="false" onclick="loadProducts('<%= stations[i].id%>')">
                                <%= stations[i].name%>
                            </a>
                            <% } else {%>
                                <a class="nav-item nav-link px-2" id="nav-contact-tab" data-toggle="tab"
                                    href="#nav-<%= stations[i].id%>" role="tab" aria-controls="nav-contact"
                                    aria-selected="false" onclick="loadProducts('<%= stations[i].id%>')">
                                    <%= stations[i].name%>
                                </a>
                                <%}%>

                                    <% } %>
                                        <% } %>

            </div>
            <div class="tab-content pb-4" id="station_products">
                <% if(stations.length){%>
                    <% for(var i=0; i< stations.length; i++) {%>
                        <% if(i==0){ %>
                            <div class="tab-pane fade show active" id="nav-<%= stations[i].id%>" role="tabpanel"
                                aria-labelledby="nav-home-tab">Test <%= stations[i].id%>
                            </div>
                            <% } else {%>
                                <div class="tab-pane fade" id="nav-<%= stations[i].id%>" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">Test <%= stations[i].id%>
                                </div>
                                <%}%>

                                    <% } %>
                                        <% } %>

            </div>
        </div>
    </div>

    <script>
        // Load first station entries
        $(document).ready(function () {
            <% if (stations.length) {%>
                loadProducts('<%= stations[0].id%>');
            <%}%>
        });

        // Load products for a station
        function loadProducts(station_id) {
            if (!station_id) {
                return;
            }
            console.log("loading products for station" + station_id)
            $("#nav-" + station_id).html('');
            $("#nav-" + station_id).load("/tisch/productlist/" + station_id);
        };

        function increment(num) {
            document.getElementById(num).value = parseInt(document.getElementById(num).value) + 1;
        };
        function decrement(num) {
            if (document.getElementById(num).value > 0) {
                document.getElementById(num).value = parseInt(document.getElementById(num).value) - 1;
            }
        };


    </script>


</body>

</html>