    <!-- Order header -->
    <div class="pb-2">
        <!-- Collapse button -->
        <% if  (special) { %>
        <a class=" btn-light card-header pl-3" data-toggle="collapse"
            style="background-color: rgba(0,0,0,0)!important;border-bottom: 0!important; padding-right: 28%"
            href="#options_order<%= order.b_id%>" onclick='changeCaret("caret<%= order.b_id%>", "options_order<%= order.b_id%>")' id="order<%= order.b_id%>">

            <!-- Extras or Note detected -->
            <% if(special) { %>
            <img id="caret<%= order.b_id%>" src="/images/caret-down-fill.svg" style="width: 17px" />
            <img src="/images/alert.png" style="width: 15px" />
            <% } %>
            <!-- Status -->
            <% if(order.stoniert) { %>
            <img src="/images/canceled.png" style="width: 15px" />
            <% } else if (order.erledigt) { %>
            <img src="/images/check.png" style="width: 15px" />
            <% } else if (order.in_zubereitung){ %>
            <img src="/images/loading.gif" style="width: 15px" />
            <% } else { %>
            <img src="/images/order.png" style="width: 15px" />
            <% } %>

            <!-- Gericht -->
            <span class="align-middle">
                <%= order.b_anz %> x <%= order.g_name %>
            </span>
        </a>

        <% } else { %>

        <span class="pl-5 ml-2">
            <!-- Status -->
            <% if(order.stoniert) { %>
            <img src="/images/canceled.png" style="width: 15px" />
            <% } else if (order.erledigt) { %>
            <img src="/images/check.png" style="width: 15px" />
            <% } else if(order.in_zubereitung){ %>
            <img src="/images/loading.gif" style="width: 15px" />
            <% } else { %>
            <img src="/images/order.png" style="width: 15px" />
            <% } %>
            <!-- Gericht -->
            <span class="align-middle">
                <%= order.b_anz %> x <%= order.g_name %>
            </span>
        </span>
        <% } %>


        <!-- Right side of header-->
        <div class="float-right">
            <!-- Order recieved and waittime -->
            <span class="align-middle">
                <% if(order.erledigt) { %>
                <img src="/images/outbox.png" style="width: 18px">
                <%= order.erledigt%>
                <img src="/images/history.png" style="width: 18px">
                <%= order.lieferzeit%>m
                <% } else { %>
                <img src="/images/inbox.png" style="width: 18px">
                <%= order.erstellt%>
                <img src="/images/sand_clock.png" style="width: 18px">
                <%= order.wartezeit%>m
                <% } %>
            </span>

            <!-- Tisch Nummer -->
            <span class="align-middle px-3">
                <%= order.t_nr%>
            </span>

            <!-- Gericht buttons -->
            <% if( !order.stoniert && !order.erledigt){ %>
            <% if(order.in_zubereitung){ %>
            <!-- Gericht aussenden -->
            <form action="#" method="POST" style="display: inline">
                <button class="btn btn-success btn-sm" style="width:80px;" name="sendingOrder" value="<%= order.b_id%>">
                    <img src="/images/sent.png" style="width: 20px; height: 22px" />
                </button>
            </form>
            <form action="#" method="POST" style="display: inline">
                <button class="btn btn-danger btn-sm " style="width:80px;" name="cancelOrder" value="<%= order.b_id%>">
                    <img src="/images/sent_failed.png" style="width: 22px" />
                </button>
            </form>
            <% } else { %>
            <!-- Gericht zubereiten-->
            <form action="#" method="POST" style="display: inline">
                <button class="btn btn-info btn-sm py-1 px-4" name="processingOrder" value="<%= order.b_id%>"
                    style="width: 165px">
                    <img src="/images/chef.png" style="width: 20px" />
                </button>
            </form>
            <% } %>
            <% } %>

        </div>

    </div>
    <!-- Options -->
    <!-- Extras or Note detected -->
    <% if(special) { %>
    <div class="collapse pt-1" data-parent="#orders" id="options_order<%= order.b_id%>">
        <div class="card card-body p-2" id="div_options_order<%= order.b_id%>" style="min-height: 60px">
            <% if(options.length) { %>
            <div class="container pb-2">
                <span>Optionen: </span>
                <div class="row row-cols-3"> 
                    <% for(var i=0; i< options.length; i++) { %>
                    <div class="col">
                        <% if(options[i].ordered == 1  && options[i].standard == 0) { %>
                        <img src="/images/add.png" style="width: 20px" />
                        <% } else if(options[i].ordered == 0 && options[i].standard == 1) { %>
                        <img src="/images/canceled.png" style="width: 20px" />
                        <% }  %>
                        <span><%=options[i].name %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } else { %>
            <span class="pb-2">Standardbestellung</span>
            <% } %>
            <% if(order.notiz) { %>
            <span class="form-control">Notiz: <%=order.notiz %></span>
            <% } %>
        </div>
    </div>
    <% } %>