<!DOCTYPE html>
<html lang="en">

<head>
    <title>Station</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Übersicht</a>
        <div class="navbar-brand flex-right">
            <%= station_name%>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-warning my-2 my-sm-0" data-toggle="modal" data-target="#alertModal">
                Hilfe
            </button>
            <form action="#" method="POST" style="display: inline;">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" name="logout" value="true">
                    Logout
                </button>
            </form>
        </div>

    </nav>

    <!-- Orders -->
    <div id="accordion">
        <div class="card">
            <a class="card-link card-header collapsed" data-toggle="collapse" href="#collapseOne"
                onclick='changeCaret("caretfinished", "collapseOne")'>
                <img src="/images/caret-down-fill.svg" id="caretfinished" style="width: 17px" />
                Abgeschlossene Bestellungen
                <div class="float-right">
                    <% if(pre_orders.length){%>
                    <%= pre_orders.length%>
                    <% } else {%> 0
                    <% }%>
                </div>
            </a>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="list-group py-2 px-2" id="orders">
                    <% if(pre_orders.length){ %>
                    <% for(var i=0; i < pre_orders.length; i++) { %>
                    <div class="list-group-item" id="list_<%=pre_orders[i].b_id%>">
                    </div>
                    <% } %>
                    <% } else { %>
                    <div class="list-group-item">
                        <span>
                            Keine abgeschlossenen Bestellungen
                        </span>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-link card-header" data-toggle="collapse" href="#collapseTwo"
                onclick='changeCaret("caretorders", "collapseTwo")'>
                <img src="/images/caret-up.png" id="caretorders" style="width: 17px" />
                Aktive Bestellungen
                <div class="float-right">
                    <% if(act_orders.length){ %>
                    <%= act_orders.length%>
                    <% } %>
                </div>
            </a>
            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                <div class="list-group pt-2 px-2">
                    <% if(act_orders.length){ %>
                    <% for(var i=0; i < act_orders.length; i++) { %>
                    <div class="list-group-item pr-2 pl-1" id="list_<%=act_orders[i].b_id%>">
                    </div>
                    <% } %>
                    <% } else { %>
                    <div class="list-group-item">
                        <span>
                            Keine aktiven Bestellungen
                        </span>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Unterstützung anfordern</h5>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="alertform">
                        <select class="form-control" id="alerttypes" name="makeAlert">
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button type="submit" class="btn btn-primary" form="alertform">Anfordern</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Load first station entries
        $(document).ready(function () {
            const o = document.querySelectorAll(`[id^="list_"]`);
            o.forEach((element) => {
                console.log(element.id.split("_")[1])
                const i = element.id.split("_")[1];
                $("#list_" + i).load("/station/orderentry/" + i);
            });

            $.ajax({
            url: "/data/alerttypes",
            success: (result) => {
                if (result.data.length > 0) {
                    result.data.forEach((element) => {
                        document.getElementById("alerttypes").innerHTML += '<option value="'+element.id+'">'+element.name +'</option>'
                    });
                } else {
                    document.getElementById("alerttypes").innerHTML +=
                        '<option selected> Keine Alarmtypen gefunden </option>'
                }
            }
        });
        });

        // Automatically reload orders if no actions are made
        var idleTime;
        $(document).ready(function () {
            reloadPage();
            $('html').bind(
                'mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick',
                function () {
                    clearTimeout(idleTime);
                    reloadPage();
                });
        });

        function reloadPage() {
            clearTimeout(idleTime);
            idleTime = setTimeout(function () {
                location.reload();
            }, 60000);
        }

        // Change caret up/down
        function changeCaret(caret_id, check_id) {
            if (!caret_id || !check_id) {
                return;
            }
            if ($("#" + check_id).hasClass('show')) {
                document.getElementById(caret_id).src = "images/caret-down-fill.svg";
            } else {
                document.getElementById(caret_id).src = "images/caret-up.png";

            }
        };
    </script>
</body>

</html>