<!DOCTYPE html>
<html lang="en">

<head>
    <title>Station</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Übersicht</a>
        <div class="navbar-brand flex-right">
            <%= station_name%>
        </div>
        <form action="#" method="POST">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" name="logout" value="true">
                Logout
            </button>
        </form>
    </nav>

    <div id="accordion">
        <div class="card">
            <a class="card-link card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <img src="/images/caret-down-fill.svg" />
                Abgeschlossene Bestellungen
                <div class="float-right">
                    <% if(pre_orders.length){%>
                    <%= pre_orders.length%>
                    <% } else {%> 0
                    <% }%>
                </div>
            </a>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body px-1">
                    <div class="list-group pt-0" id="orders">
                        <!-- SELECT bestellung.id AS b_id, gericht.name AS g_name, bestellung.anzahl AS b_anz, AS dauer,  lieferzeit, tisch.nummer AS t_nr\ -->

                        <% if(pre_orders.length){%>
                        <% for(var i=0; i < pre_orders.length; i++) { %>
                        <!-- Bestellung -->
                        <div class="list-group-item px-1">
                            <!-- Optionen -->
                            <a class="card-header btn-light align-middle" data-toggle="collapse"
                                href="#options_order<%= pre_orders[i].b_id%>">
                                <!-- Status -->
                                <% if(pre_orders[i].stoniert){ %>
                                <img src="/images/canceled.png" style="width: 20px" />
                                <% } else { %>
                                <!-- Wartezeit -->
                                <%= pre_orders[i].dauer%> m
                                <img src="/images/check.png" style="width: 20px" />
                                <% } %>
                                <!-- Gericht -->
                                <%= pre_orders[i].b_anz%> x <%= pre_orders[i].g_name%>
                            </a>
                            <!-- Tisch Nummer -->
                            <div class="float-right pr-3">
                                <%= pre_orders[i].t_nr%>
                            </div>

                            <div class="float-right pr-3">
                                <% if(pre_orders[i].stoniert){ %>
                                <%= pre_orders[i].erstellt%>
                                <% } else { %>
                                <%= pre_orders[i].lieferzeit%>
                                <% } %>
                            </div>
                            <div id="options_order<%= pre_orders[i].b_id%>" class="collapse" data-parent="#orders">
                                <div class="list-group pt-3">
                                    <div class="list-group-item py-0">
                                        <input class="form-check-input" type="checkbox" value="" checked="true"
                                            id="item1_option1" disabled="true" />
                                        Knoblauch
                                    </div>
                                    <div class="list-group-item py-0">
                                        <input class="form-check-input" type="checkbox" value="" checked="false"
                                            id="item1_option1" disabled="true" />
                                        Soße extra
                                    </div>
                                </div>
                                <input type="text" class="form-control list-group-item" placeholder="Notiz"
                                    disabled="true" />
                            </div>
                        </div>
                        <% } %>
                        <% }else{ %> Keine abgeschlossenen Sitzungen <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-link card-header" data-toggle="collapse" href="#collapseTwo">
                <img src="/images/caret-down-fill.svg" />
                Aktive Bestellungen
                <div class="float-right">
                    <% if(act_orders.length){ %>
                    <%= act_orders.length%>
                    <% } else { %> 0
                    <% } %>
                </div>
            </a>
            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                <div class="list-group pt-2" id="activeorders"></div>
            </div>
        </div>
    </div>
    <script>
        // Load first station entries
        $(document).ready(function () {
            loadActiveOrders('<%= station_id%>');
        });

        // Automatically reload orders if no actions are made
        var idleTime;
        $(document).ready(function () {
            reloadPage();
            $('html').bind(
                'mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick',
                function () {
                    clearTimeout(idleTime);
                    reloadPage();
                });
        });

        function reloadPage() {
            clearTimeout(idleTime);
            idleTime = setTimeout(function () {
                loadActiveOrders('<%= station_id%>');
            }, 60000);
        }

        // Load products for a station
        function loadActiveOrders(station_id) {
            if (!station_id) {
                return;
            }
            console.log("loading products for order" + station_id)
            $("#activeorders").load("/station/activeorders/" + station_id);
        };

        // Load options for a order
        function loadOptionsHTML(order_id) {
            if (!order_id) {
                return;
            }
            console.log("loading products for order" + order_id)
            if ($("#div_options_order" + order_id).html().length == 9) {
                $("#div_options_order" + order_id).load("/station/orderoptions/" + order_id);
            }
        };
    </script>
</body>

</html>