<!DOCTYPE html>
<html lang="en">

<head>
    <title>Station</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <script src="/javascripts/jquery-3.5.1.slim.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Übersicht</a>
        <div class="navbar-brand flex-right">
            <%= station_name%>
        </div>
        <form action="station_overview" method="POST">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" name="logout" value="true">Logout</button>
        </form>
    </nav>

    <div id="accordion">
        <div class="card">
            <a class="card-link card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <img src="/images/caret-down-fill.svg">
                Abgeschlossene Bestellungen
                <div class="float-right">
                    <%= pre_orders.length%>
                </div>
            </a>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body px-1">
                    <div class="list-group pt-0" id="orders">
                        <!-- SELECT bestellung.id AS b_id, gericht.name AS g_name, bestellung.anzahl AS b_anz, AS dauer,  lieferzeit, tisch.nummer AS t_nr\ -->

                        <% if(pre_orders.length){%>
                            <% for(var i=0; i < pre_orders.length; i++) {%>
                                <!-- Bestellung -->
                                <div class="list-group-item px-1">

                                    <!-- Optionen -->
                                    <a class="card-header btn-light align-middle" data-toggle="collapse"
                                        href="#options_order<%= pre_orders[i].b_id%>">
                                        <!-- Status -->
                                        <% if(pre_orders[i].stoniert){%>
                                            <img src="/images/canceled.png" style="width:20px">
                                            <% } else {%>
                                                <!-- Wartezeit -->
                                                <%= pre_orders[i].dauer%> m
                                                    <img src="/images/check.png" style="width:20px">
                                                    <%}%>

                                                        <!-- Gericht -->
                                                        <%= pre_orders[i].b_anz%> x <%= pre_orders[i].g_name%>

                                    </a>
                                    <!-- Tisch Nummer -->
                                    <div class="float-right pr-3">
                                        <%= pre_orders[i].t_nr%>
                                    </div>

                                    <div class="float-right pr-3">
                                        <%= pre_orders[i].lieferzeit%>
                                    </div>
                                    <div id="options_order<%= pre_orders[i].b_id%>" class="collapse"
                                        data-parent="#orders">
                                        <div class="list-group pt-3">
                                            <div class="list-group-item py-0">
                                                <input class="form-check-input" type="checkbox" value="" checked="true"
                                                    id="item1_option1" disabled="true">
                                                Knoblauch
                                            </div>
                                            <div class="list-group-item py-0">
                                                <input class="form-check-input" type="checkbox" value="" checked="false"
                                                    id="item1_option1" disabled="true">
                                                Soße extra
                                            </div>

                                        </div>
                                        <input type="text" class="form-control list-group-item" placeholder="Notiz"
                                            disabled="true">
                                    </div>


                                </div>
                                <% } %>
                                    <% }else{ %>
                                        Keine abgeschlossenen Sitzungen
                                        <% } %>

                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <a class="card-link card-header" data-toggle="collapse" href="#collapseTwo">
                <img src="/images/caret-down-fill.svg">
                Aktive Bestellungen
                <div class="float-right">
                    <%= act_orders.length%>
                </div>
            </a>
            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                <div class="card-body px-1">
                    <div class="list-group pt-0" id="orders">
                        <!--bestellung.id AS b_id, gericht.name AS g_name, bestellung.anzahl AS b_anz, bestellung.erstellt, bestellung.in_zubereitung, tisch.nummer AS t_nr-->
                        <% if(act_orders.length){%>
                            <% for(var i=0; i < act_orders.length; i++) {%>
                                <!-- Bestellung -->
                                <div class="list-group-item px-1">

                                    <!-- Optionen -->
                                    <a class="card-header btn-light align-middle" data-toggle="collapse"
                                        href="#options_order<%= pre_orders[i].b_id%>">
                                        <!-- Wartezeit -->
                                        <%= act_orders[i].wartezeit%> m
                                            <!-- Status -->
                                            <% if(act_orders[i].in_zubereitung){%>
                                                <img src="/images/loading.gif" style="width:15px">
                                                <% } else {%>
                                                    <img src="/images/order.png" style="width:15px">
                                                    <%}%>

                                                        <!-- Gericht -->
                                                        <%= act_orders[i].b_anz%> x <%= act_orders[i].g_name%>

                                    </a>
                                    <!-- Gericht buttons -->
                                    <% if(act_orders[i].in_zubereitung){%>
                                        <!-- Gericht zubereiten-->
                                        <form action="#" method="POST" style="display:inline;">
                                            <button class="btn btn-success btn-sm float-right py-1 px-5"
                                                name="sendingOrder" value="<%= act_orders[i].b_id%>"><img
                                                    src="/images/sent.png" style="width: 20px"></button>
                                        </form>
                                        <% } else {%>
                                            <!-- Gericht aussenden -->
                                            <form action="#" method="POST" style="display:inline;">
                                                <button class="btn btn-info btn-sm float-right py-1 px-5"
                                                    name="processingOrder" value="<%= act_orders[i].b_id%>"> <img
                                                        src="/images/chef.png" style="width: 20px"></button>
                                            </form>
                                            <%}%>

                                                <!-- Tisch Nummer -->
                                                <div class="float-right pr-3">
                                                    <%= act_orders[i].t_nr%>
                                                </div>
                                                <div id="options_order<%= pre_orders[i].b_id%>" class="collapse"
                                                    data-parent="#orders">
                                                    <div class="list-group pt-3">
                                                        <div class="list-group-item py-0">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                checked="true" id="item1_option1" disabled="true">
                                                            Knoblauch
                                                        </div>
                                                        <div class="list-group-item py-0">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                checked="false" id="item1_option1" disabled="true">
                                                            Soße extra
                                                        </div>

                                                    </div>
                                                    <input type="text" class="form-control list-group-item"
                                                        placeholder="Notiz" disabled="true">
                                                </div>


                                </div>
                                <% } %>
                                    <% }else{ %>
                                        Keine aktiven Sitzungen
                                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>